/* Reset CSS default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #99c8f2;
  color: white;
  text-transform: uppercase;
  height: 30px;

  font-size: 13px;
}

.top-header .links {
  display: flex;
}

.top-header .links li {
  list-style-type: none;
  margin-right: 15px;
  letter-spacing: 2px;
}

.bottom-header {
  background-image: url("assets/wedgwood-logo.png");
  display: flex;
}

.photo1 {
  background-image: url("assets/main.png");
  background-size: cover;
  min-height: 200px;
  position: relative;
}

.photo1 .first-line {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.photo1 .second-line {
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.photo2 {
  background-image: url("assets/1.png");
  background-size: cover;
  min-height: 200px;
}

.photo2 .first-line {
  font-family: "Libre Baskerville", serif;
}

.photo2 .second-line {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.photo3 {
  background-image: url("assets/2.png");
  background-size: cover;
  min-height: 200px;
}

.photo3 .first-line {
  font-family: "Libre Baskerville", serif;
}

.photo3 .second-line {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.photo4 {
  background-image: url("assets/3.png");
  background-size: cover;
  min-height: 200px;
}

.photo4 .first-line {
  font-family: "Libre Baskerville", serif;
}

.photo4 .second-line {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: white;
}

.photo1 {
  grid-column: 1 / -1;
  height: 500px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: "Libre Baskerville", serif;
  color: #99c8f2;
}

.footer {
  background-color: #99c8f2;
  display: grid;
}
