/* Reset CSS default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  background-color: #99c8f2;
  color: white;
  text-transform: uppercase;
  height: 30px;
  font-size: 13px;
}

.top-header .links {
  display: flex;
}

.top-header .links li {
  list-style-type: none;
  margin-right: 15px;
  letter-spacing: 2px;
}

.top-header .social-icons li {
  letter-spacing: 20px;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
  padding: 0 50px;
}

.bottom-header .logo {
  background-image: url("assets/wedgwood-logo.png");
  background-size: cover;
  width: 200px;
  height: 38px;
}

.welcome {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 50px;
  color: white;
}

.welcome .photo1 {
  background-image: url("assets/main.png");
  background-size: cover;
  min-height: 200px;
  position: relative;
  grid-column: 1 / -1;
  height: 500px;
}
.welcome .photo1 .first-line {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.welcome .photo1 .second-line {
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.welcome .photo2 {
  background-image: url("assets/1.png");
}

.welcome .photo3 {
  background-image: url("assets/2.png");
}

.welcome .photo4 {
  background-image: url("assets/3.png");
}

.welcome .photo2,
.welcome .photo3,
.welcome .photo4 {
  background-size: cover;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome .photo2 .first-line,
.welcome .photo3 .first-line,
.welcome .photo4 .first-line {
  font-family: "Libre Baskerville", serif;
}

.welcome .photo2 .second-line,
.welcome .photo3 .second-line,
.welcome .photo4 .second-line {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome .photo2 .discover,
.welcome .photo3 .discover,
.welcome .photo4 .discover {
  margin-top: 40px;
  text-transform: uppercase;
}

.menu .menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.menu .menu-list .menu-item {
  display: list-item;
  padding: 5px 10px;
  margin: 0 3px;
  text-transform: uppercase;
}

.menu h1 {
  font-family: "Libre Baskerville", serif;
  color: #99c8f2;
  text-align: center;
  padding: 50px 0 15px 0;
}

.menu h1:before,
h1:after {
  content: "--------";
}

.menu h1:before {
  margin-right: 20px;
}
.menu h1:after {
  margin-left: 20px;
}

.menu .category .images {
  background-image: url("assets/5.png");
  background-image: url("assets/6.png");
  background-image: url("assets/7.png");
  background-image: url("assets/8.png");
}

.menu .category .images {
  display: flex;
  height: 400px;
  width: auto;
}

.menu .category {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 50px;
}

.menu .category .item1 h3,
.menu .category .item2 h3,
.menu .category .item3 h3,
.menu .category .item4 h3 {
  text-transform: uppercase;
  color: #99c8f2;
  letter-spacing: 5px;
}

.menu .category .item1 p,
.menu .category .item2 p,
.menu .category .item3 p,
.menu .category .item4 p {
  font-family: "Libre Baskerville", serif;
  padding: 50px;
}

.menu .category .item1 a,
.menu .category .item2 a,
.menu .category .item3 a,
.menu .category .item4 a {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  color: #99c8f2;
}

.contact {
  background-image: url("assets/10.png");
  color: #99c8f2;
}

.contact {
  height: 300px;
}

.contact .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 13px;
  background-color: white;
  height: auto;
}

.contact .text .question {
  display: flex;
}

.contact .text .question li {
  list-style-type: none;
  margin-right: 45px;
  letter-spacing: 2px;
}

.contact .text .question .font,
.contact .text .question .font3 {
  font-family: "Libre Baskerville", serif;
}

.contact .text .question .font2 {
  text-transform: uppercase;
}

.contact .text .icons {
  letter-spacing: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 50px 80px;
  width: 100%;
min-height: 500px;

}

.gallery .image-1 {
  background-image: url("assets/11.png");
  grid-row: 1 / span 2;
}

.gallery .image-2 {
  background-image: url("assets/12.png");
}

.gallery .image-3 {
  background-image: url("assets/13.png");
}

.gallery .image-4 {
  background-image: url("assets/14.png");
}

.gallery .image-5 {
  background-image: url("assets/15.png");
}

.gallery .image {
  background-size: cover;
}

.footer {
  display: grid;
}

.footer-top {
  display: flex;
  list-style-type: none;
  background-color: #99c8f2;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #99c8f2;
  padding: 0 50px;
}

.footer-bottom .left-side {
  display: flex;
}

.footer-bottom .left-side i {
  margin-right: 10px;
}

