/* Reset CSS default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.photo1 {
  background-image: url("assets/main.png");
  background-size: cover;
  min-height: 200px;
}

.photo1 .first-line {
  font-family: "Libre Baskerville", serif;
}

.photo2 {
  background-image: url("assets/1.png");
  background-size: cover;
  min-height: 200px;
}

.photo2 .first-line {
  font-family: "Libre Baskerville", serif;
}
