/* Responsive  */
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  header .bottom-header .content .bottom-header-content a:nth-child(2),
  header .bottom-header .content .bottom-header-content a:nth-child(3),
  header .bottom-header .content .bottom-header-content a:nth-child(5),
  header .bottom-header .content .bottom-header-content a:nth-child(6),
  header .bottom-header .content .bottom-header-content a:nth-child(7) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .collections-section .menu-list {
    flex-wrap: wrap;
  }

  .collections-section .cards {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  header .top-header {
    flex-wrap: wrap;
    height: 60px;
    justify-content: center;
  }

  header .top-header .links {
    width: 100%;
    justify-content: center;
  }

  header .bottom-header .content .bottom-header-content a:nth-child(4),
  header .bottom-header .content .bottom-header-content a:nth-child(8) {
    display: none;
  }

  .collections-section {
    padding: 0;
  }
}
